
:is(*, ::before, ::after) {
    box-sizing: border-box;
}

:is(h1, h2, h3, h4) {
    line-height: 1.2;
}

:is(body, h1, h2, h3, dl, dt, dd, p) {
    margin:0;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

:is(ul, ol, fieldset, legend) {
    margin: 0;
    padding: 0;
}

:is(summary, ul) {
    list-style: none;
}

:is(button, fieldset) {
    border: none;
}
dialog {
    position: fixed;
    inset: 0;
    margin: auto;
}
select {
    text-transform: inherit;
}
option[value=""] {
    display: none;
}
