:root {
  --system-color-softBlue: #7b5cfa;
  --system-color-lightBlue: #9175ff;
  --system-color-softRed: #ec5555;
  --system-color-lightRed: #f99;
  --system-color-limeGreen: #33d7a0;
  --system-color-pureOrange: #ff9100;
  --system-color-grayishBlue: #373b53;
  --system-color-lightGrayishBlue: #fbfbfe;
  --system-color-darkBlue: #0d0e17;
  --system-color-lightPurple: #e0e4fa;
  --system-color-softPurple: #7e88c4;
  --system-color-darkPurple: #1e2139;
  --system-color-fillPrimary: var(--page-bg, #f9f9fb);
  --system-color-blank: var(--color-blank, #fff);
  --system-color-labelText: var(--color-labelText, var(--system-color-softPurple));
  --system-color-captionText: var(--color-captionText, #888eaf);
  --system-color-labelFill: var(--color-labelFill, var(--system-color-lightGrayishBlue));
  --system-color-labelHover: var(--color-labelHover, var(--system-color-lightPurple));
  --system-color-text: var(--color-text, var(--system-color-darkBlue));
  --system-color-shadow: var(--color-shadow, #dcdfef);
  --system-color-checkboxFill: var(--color-checkboxFill, var(--system-color-lightPurple));
  --system-color-warningFill: var(--color-warningFill, #fef4e7);
  --system-color-successFill: var(--color-successFill, #f5fefb);
  --system-color-info: var(--color-info, #384071);
  --system-color-infoFill: var(--color-infoFill, #eaebf0);
  --system-heading-large: 2.25rem;
  --system-heading-medium: 1.5rem;
  --system-heading-small: 0.9375rem;
  --system-text-body: 0.8125rem;
  --invoice-grid: "ref . name" ".  .   ." 1rem "date . status" "total . status"/1fr 0.5fr 1fr;
}
@font-face {
  font-family: "Spartan";
  src: url("../LeagueSpartan-VariableFont_wght.ttf") format("truetype");
  font-variant-ligatures: common-ligatures discretionary-ligatures historical-ligatures;
  font-feature-settings: "zero";
}
[data-apearence="dark"] {
  --color-text: var(--system-color-lightGrayishBlue);
  --color-blank: var(--system-color-darkPurple);
  --color-labelText: var(--system-color-lightPurple);
  --color-labelFill: var(--system-color-grayishBlue);
  --color-labelHover: #fff;
  --color-shadow: rgba(0,0,0,0.1);
  --page-bg: #141624;
  --color-checkboxFill: var(--page-bg);
  --color-info: #f9fafa;
  --color-infoFill: rgba(250,250,250,0.15);
  --color-warningFill: rgba(243,242,242,0.15);
  --color-successFill: rgba(242,243,242,0.15);
  --color-editText: var(--system-color-softPurple);
  --fill-items-box: #252946;
  --fill-amount-box: #0d0f17;
}
body {
  font-family: Spartan;
  line-height: 1.5;
  font-size: 1rem;
  font-weight: 500;
  color: var(--system-color-text);
  background-color: var(--system-color-fillPrimary);
  accent-color: var(--system-color-softBlue);
  caret-color: var(--system-color-softBlue);
}
section {
  --color-fill: var(--system-color-fillPrimary);
  --min-padding: 1.5em clamp(0.5em, 4cqi, 1.5em) 0.5em;
  overflow: hidden auto;
  block-size: calc(100lvb - max(7rem, 72px));
}
.heading-l {
  --f-size: var(--system-heading-large);
  font-weight: bold;
  font-size: var(--system-heading-large);
  line-height: 1.1;
  letter-spacing: -1px;
}
.heading-m {
  font-weight: bold;
  font-size: var(--system-heading-medium);
  line-height: 1.1;
  letter-spacing: -0.75px;
}
.heading-s {
  font-weight: bold;
  font-size: var(--system-heading-small);
  line-height: 1;
  letter-spacing: -0.25px;
}
.self-center {
  place-self: center;
}
.sm-hide.sm-hide {
  display: none;
}
.sticky-top {
  --min-padding: var(--sticky-padding, inherit);
  position: sticky;
  inset-block-start: 0;
  z-index: 2;
  background-color: var(--sticky-fill, var(--color-fill));
}
.no-gap {
  --space: 0;
}
.subtitle-text {
  color: var(--color-labelText, #888eaf);
}
.btn,
.btn-primary,
.btn-edit,
.btn-danger {
  --radius: 1.5rem;
  font-weight: 900;
  text-transform: capitalize;
  font-size: clamp(0.75em, 4cqi, 1em);
  min-inline-size: 4.5rem;
}
.btn:focus,
.btn-primary:focus,
.btn-edit:focus,
.btn-danger:focus,
.btn:hover,
.btn-primary:hover,
.btn-edit:hover,
.btn-danger:hover {
  background-color: var(--color-fill-hover, transparent);
}
.btn.back {
  background-color: transparent;
  color: var(--system-color-text);
}
.btn-primary,
.btn-danger {
  --color-text: #fff;
}
.btn-primary {
  --color-fill: var(--system-color-softBlue);
  --color-fill-hover: var(--system-color-lightBlue);
}
.btn-danger {
  --color-fill: var(--system-color-softRed);
  --color-fill-hover: var(--system-color-lightRed);
}
.btn-edit {
  --color-text: var(--color-editText, var(--system-color-labelText));
  --color-fill: var(--system-color-labelFill);
  --color-fill-hover: var(--system-color-labelHover);
}
.extend-click {
  position: relative;
}
.extend-click::before {
  content: "";
  inset: 0;
  position: absolute;
}
.relative {
  position: relative;
}
.label-text,
label {
  color: var(--system-color-labelText);
  font-weight: var(--label-weight, inherit);
}
.content-bold {
  color: var(--system-color-text);
  font-weight: bold;
}
.inline-row {
  display: inline-flex;
  gap: var(--items-space, 0.5em);
  align-items: center;
}
.btn[data-icon] {
  display: inline-flex;
  gap: var(--items-space, 0.5em);
  align-items: center;
}
[data-icon="arrow_left"]::before {
  content: "";
  inline-size: 1.5rem;
  aspect-ratio: 1;
  background-color: var(--deco-fill, var(--system-color-softBlue));
  clip-path: url("#arrow_left");
}
[data-icon="arrow_down"] {
  --min-padding: 0.75em 1.5em 0.75em 0;
  --space: 0.1em;
  cursor: pointer;
}
[data-icon="arrow_down"]::after {
  content: "";
  inline-size: 1em;
  aspect-ratio: 0.6;
  background-color: var(--deco-fill, var(--system-color-softBlue));
  clip-path: url("#arrow_down");
  transform: var(--transformation, none);
}
[open] [data-icon="arrow_down"] {
  --transformation: rotateZ(180deg);
}
[data-icon="add-circle"] {
  --min-padding: 0.75em clamp(0.5em, 2vw, 1.5em) 0.75em 0.5em;
}
[data-icon="add-circle"]::before {
  content: "";
  inline-size: 2em;
  aspect-ratio: 1;
  background-color: var(--deco-fill, currentColor);
  clip-path: url("#add-circle");
}
[data-state="pending"] {
  --color-text: var(--system-color-pureOrange);
  --color-fill: var(--system-color-warningFill);
}
[data-state="paid"] {
  --color-text: var(--system-color-limeGreen);
  --color-fill: var(--system-color-successFill);
}
[data-state="draft"] {
  --color-text: var(--system-color-info);
  --color-fill: var(--system-color-infoFill);
}
[data-prefix]::before {
  content: var(--prefix, attr(data-prefix));
  color: var(--prefix-color, var(--system-color-captionText));
}
[data-suffix]::after {
  content: var(--suffix, attr(data-suffix));
  color: var(--suffix-color, currentColor);
}
.stack > * + * {
  margin-block-start: var(--space, 1.5em);
}
.row {
  display: flex;
  flex-direction: var(--direction, row);
  align-items: var(--alignment, center);
  gap: var(--space, 1.5em);
}
.grow-2 {
  flex-grow: 2;
}
.segragator {
  display: flex;
  flex-direction: var(--direction, row);
  align-items: var(--alignment, center);
  justify-content: space-between;
}
.box {
  padding: var(--min-padding, 1.5em);
  background-color: var(--color-fill, transparent);
  color: var(--color-text, currentColor);
  border-radius: var(--radius, 0);
}
#logo {
  width: 72px;
  aspect-ratio: 1;
  border-radius: 0 1.5em 1.5em 0;
  position: relative;
  background-color: var(--system-color-softBlue);
}
#logo::after {
  content: "";
  position: absolute;
  inline-size: 40%;
  aspect-ratio: 1;
  background-color: var(--deco-fill, transparent);
  inset: 0;
  margin: auto;
  background-image: conic-gradient(from -30deg at center, transparent 60deg, #fff 60deg);
  border-radius: 50%;
}
#logo::before {
  content: "";
  inline-size: 100%;
  aspect-ratio: 2;
  background-color: var(--deco-fill, var(--system-color-lightBlue));
  position: absolute;
  inset-block-end: 0;
  border-radius: 1.5em 0 1.5em 0;
}
#status-form {
  font-weight: bold;
  border-radius: 0.5em;
  box-shadow: 0 10 20px 0 var(--system-color-shadow);
  background-color: var(--system-color-blank);
  position: absolute;
  inset-block-start: 110%;
  inset-inline-start: -50%;
  min-inline-size: 12rem;
  opacity: 0;
}
[open] #status-form {
  opacity: 1;
}
.inv-option {
  --space: 1em;
  cursor: pointer;
}
.inv-option:focus,
.inv-option:hover {
  --checkbox-border: 2px solid var(--system-color-softBlue);
}
.status-option {
  --icon-fill: none;
  display: inline-block;
  position: relative;
  isolation: isolate;
  inline-size: 1.5rem;
  aspect-ratio: 1;
}
.status-option > * {
  position: absolute;
  inline-size: 100%;
  aspect-ratio: 1;
}
.status-option > svg {
  background-color: var(--fill, var(--system-color-checkboxFill));
  border-radius: 0.25rem;
  z-index: -1;
  stroke: #fff;
  stroke-dashoffset: 1;
  stroke-dasharray: 1;
  padding: 0.15em;
  border: var(--checkbox-border, none);
}
.status-option > input:checked + svg {
  --fill: var(--system-color-softBlue);
  stroke-dashoffset: 0;
}
.status-option > input[type="checkbox"] {
  margin: 0;
  opacity: 0;
}
.theme-switch {
  border-inline-end: 1px solid var(--system-color-grayishBlue);
}
.theme-switch:hover,
.theme-switch:focus {
  --icon-fill: var(--system-color-lightPurple);
}
.banner {
  --alignment: stretch;
  --icon-fill: var(--system-color-softPurple);
  --min-padding: 0 1.5em;
  background-color: var(--system-color-darkPurple);
}
.invoices:empty {
  display: none;
}
.empty {
  --min-padding: 2em 1.5em 0;
  display: none;
  auto: 1fr;
}
.empty > p {
  max-inline-size: 25ch;
  white-space: pre-wrap;
}
.invoices:empty + .empty {
  display: grid;
  place-content: center;
  place-items: center;
}
.invoice__summary {
  --min-padding: 1rem 1.5rem;
  --status-padding: var(--box-padding, 0.75rem clamp(0.5rem, 5cqi, 1.5rem));
  --f-size: 1rem;
  --f-size-diff: 0.2;
  --f-size-fluid: 4cqi;
  --space: 1rem;
}
.invoice-grid,
.invoice__summary {
  display: grid;
  grid-template: var(--invoice-grid);
  align-items: var(--item-alignment, var(--alignment, center));
  container: invoice/inline-size;
}
.invoice-grid > :first-child,
.invoice__summary > :first-child {
  grid-area: ref;
}
.invoice-grid> :nth-child(2),
.invoice__summary> :nth-child(2) {
  grid-area: date;
}
.invoice-grid > :nth-child(3),
.invoice__summary > :nth-child(3) {
  grid-area: name;
}
.invoice-grid > :nth-child(4),
.invoice__summary > :nth-child(4) {
  grid-area: total;
}
.invoice-grid > :nth-child(5),
.invoice__summary > :nth-child(5) {
  grid-area: status;
}
.invoice__details {
  --min-padding: 1em clamp(0.5em, 4cqi, 1.5em);
  --sticky-padding: 1em 0;
  --invoice-grid: "ref ." "date total" "name total" "status status"/1fr 1fr;
  padding: 0 clamp(0.5em, 4vmin, 1.5em);
}
.invoice__details::after {
  content: "";
  display: block;
  block-size: 7vb;
}
.invoice__table {
  --prefix-color: currentColor;
  text-transform: capitalize;
}
.invoice__item {
  --invoice-grid: "ref ref total" "date name total"/auto 1fr;
  --space: 1em;
  gap: 1ch;
}
.invoice__desc {
  --alignment: start;
  --direction: column;
  --space: 0.75em;
  gap: 1em;
}
.blank-box {
  --radius: 0.5rem;
  --color-fill: var(--system-color-blank);
}
.items-box {
  --radius: 0.5rem 0.5rem 0 0;
  --color-fill: var(--fill-items-box, #fbfbfe);
}
.amount-box {
  --radius: 0 0 0.5rem 0.5rem;
  --color-fill: var(--fill-amount-box, #252946);
  --system-color-text: #fff;
  color: #fff;
}
.status-box {
  --radius: 0.5rem;
  --min-padding: var(--status-padding);
  text-transform: capitalize;
  font-weight: bold;
  display: inline-flex;
  gap: var(--items-space, 0.5em);
  align-items: center;
}
.status-box::before {
  content: "";
  display: inline-block;
  inline-size: 0.5rem;
  aspect-ratio: 1;
  background-color: var(--deco-fill, currentColor);
  border-radius: 50%;
}
.invoice__status {
  --status-padding: 0.75rem clamp(0.5em, 2cqi, 1.5em);
  --space: 0.5em;
  color: var(--system-color-captionText);
  text-transform: capitalize;
}
.invoice__status > :first-child {
  justify-content: var(--inline-alignment, space-between);
}
.invoice__actions {
  position: fixed;
  inset-block-end: 0;
  inset-inline: 0;
  container: action/inline-size;
  z-index: 2;
  display: flex;
  justify-content: center;
  gap: clamp(0.5em, 4vmin, 1em);
}
@media screen and (min-width: 480px) {
  :root {
    --invoice-grid: "ref date name total status arrow"/8ch 1fr 1fr 0.8fr 0.75fr 1.5em;
  }
  .sm-hide {
    display: initial;
  }
  .invoice-grid.sm-hide {
    display: grid;
  }
  .invoice__desc {
    --invoice-grid: "ref ref ref" "date total status" "name total ."/1fr 1fr 1fr;
  }
  .invoice__desc > :first-child {
    --direction: row;
    justify-content: space-between;
  }
  .invoice__item {
    --invoice-grid: "ref date name total"/1.5fr 0.5fr 1fr 1fr;
    --suffix: "";
    text-align: end;
  }
  .invoice__summary {
    --min-padding: 1em clamp(0.5em, 2cqi, 1.5em);
    --box-padding: 0.625em clamp(0.5em, 2cqi, 1em);
    --f-size-fluid: 2cqi;
    --f-size-diff: 0.3;
    gap: 0.5em;
  }
  .invoice__summary::after {
    content: "";
    inline-size: 1.5em;
    aspect-ratio: 1;
    background-color: var(--deco-fill, var(--system-color-softBlue));
    clip-path: url("#arrow_left");
    transform: rotateZ(180deg);
    grid-area: arrow;
  }
  .invoice__status {
    --inline-alignment: start;
    display: flex;
    justify-content: space-between;
    gap: 0.5em;
  }
  .invoice__actions {
    padding: 0;
    z-index: 0;
    position: initial;
    justify-content: end;
    flex-grow: 2;
  }
}
@media screen and (min-width: 768px) {
  .banner {
    --direction: column;
    --min-padding: 1.5em 0;
    grid-area: nav;
  }
  .banner .theme-switch {
    border-inline: none;
    border-block-end: 1px solid var(--system-color-grayishBlue);
  }
  body {
    display: grid;
    grid-template: "nav . . ." 72px "nav . main ." calc(100lvb - 72px)/72px 1fr minmax(688px, 4fr) 1fr;
  }
  body > main {
    grid-area: main;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --color-text: var(--system-color-lightGrayishBlue);
    --color-blank: var(--system-color-darkPurple);
    --color-labelText: var(--system-color-lightPurple);
    --color-labelFill: var(--system-color-grayishBlue);
    --color-labelHover: #fff;
    --color-shadow: rgba(0,0,0,0.1);
    --page-bg: #141624;
    --color-checkboxFill: var(--page-bg);
    --color-info: #f9fafa;
    --color-infoFill: rgba(250,250,250,0.15);
    --color-warningFill: rgba(243,242,242,0.15);
    --color-successFill: rgba(242,243,242,0.15);
    --color-editText: var(--system-color-softPurple);
    --fill-items-box: #252946;
    --fill-amount-box: #0d0f17;
  }
}

@supports(font-size: 1cqi) {
  :is(h1, h2, h3, h4, p, dd, .heading-l, .fluid-type) {
      font-size: clamp(var(--f-size) - var(--f-size) * var(--f-size-diff, 0.3), var(--f-size-fluid, 5cqi), var(--f-size));
  }
}
