
:root {
	--system-color-softBlue: hsl(252, 94%, 67%);
	--system-color-lightBlue: hsl(252, 100%, 73%);
	--system-color-softRed: hsl(0, 80%, 63%);
	--system-color-lightRed: hsl(0, 100%, 80%);
	--system-color-limeGreen: hsl(160, 67%, 52%);
	--system-color-pureOrange: hsl(34, 90%, 69%);
	--system-color-grayishBlue: hsl(231, 20%, 27%);
	--system-color-lightGrayishBlue: hsl(231, 67%, 99%);
	--system-color-darkBlue: hsl(231, 28%, 7%);
	--system-color-lightPurple: hsl(231, 73%, 93%);
	--system-color-softPurple: hsl(231, 37%, 63%);
	--system-color-darkPurple: hsl(233, 31%, 17%);
	--system-color-fillPrimary: var(--page-bg, hsl(240, 27%, 98%));
	--system-color-blank: var(--color-blank, #fff);
	--system-color-labelText: var(--color-labelText, var(--system-color-softPurple));
	--system-color-captionText: var(--color-captionText, hsl(231, 20%, 61%));
	--system-color-labelFill: var(--color-labelFill, var(--system-color-lightGrayishBlue));
	--system-color-labelHover: var(--color-labelHover, var(--system-color-lightPurple));
	--system-color-text: var(--color-text, var(--system-color-darkBlue));
	--system-color-shadow: var(--color-shadow, hsl(231, 38%, 90%));
	--system-color-checkboxFill: var(--color-checkboxFill, var(--system-color-lightPurple));
	--system-color-info: var(--color-info, var(--system-color-lightPurple));
	--system-color-infoFill: var(--color-infoFill, var(--system-color-grayishBlue));
  --system-color-backdropFill: hsla(231, 28%, 7%, 0.4);

	--system-heading-large: 2.25rem;
	--system-heading-medium: 1.5rem;
	--system-heading-small: 0.9375rem;
	--system-text-body: 0.8125rem;
	--system-color-disabled: var(--color-disabled, hsla(233, 31%, 17%, 0.6));
  --invoice-grid: "ref . name" ".  .   ." 1rem "date . status" "total . status" / minmax(10ch, 1fr) .5fr .75fr;

  --system-theme-clip: var(--theme-clip, url(#night_mode))
}
@font-face {
  font-family: "Spartan";
  src: url("../LeagueSpartan-VariableFont_wght.ttf") format("truetype");
  font-variant-ligatures: common-ligatures discretionary-ligatures historical-ligatures;
  font-feature-settings: "zero";
}
@layer utils {
  .invoice-grid,
  .invoice__summary {
    display: grid;
    grid-template: var(--invoice-grid);
    align-items: var(--item-alignment, var(--alignment, center));
    container: invoice/inline-size;
  }
  .invoice-grid > :first-child,
  .invoice__summary > :first-child {
    grid-area: ref;
  }
  .invoice-grid> :nth-child(2),
  .invoice__summary> :nth-child(2) {
    grid-area: date;
  }
  .invoice-grid > :nth-child(3),
  .invoice__summary > :nth-child(3) {
    grid-area: name;
  }
  .invoice-grid > :nth-child(4),
  .invoice__summary > :nth-child(4) {
    grid-area: total;
  }
  .invoice-grid > :nth-child(5),
  .invoice__summary > :nth-child(5) {
    grid-area: status;
  }
  .sm-hide {
    display: none;
  }
}
[data-apearence="dark"] {
  --color-text: var(--system-color-lightGrayishBlue);
  --color-blank: var(--system-color-darkPurple);
  --color-labelText: var(--system-color-lightPurple);
  --color-labelFill: var(--system-color-grayishBlue);
  --color-labelHover: #fff;
  --color-shadow: rgba(224,228,250,0.1);
  --page-bg: #141624;
  --color-checkboxFill: var(--page-bg);
  --color-editText: var(--system-color-softPurple);
  --input-bd-clr: #252946;
  --color-info: var(--system-color-grayishBlue);
  --color-infoFill: var(--system-color-lightPurple);
  --fill-items-box: #252946;
  --fill-amount-box: #0d0f17;
  --color-disabled: rgba(251,251,254,0.6);
  --theme-clip: url("#light_mode");
}

@supports(font-size: 1cqi) {
  :is(h1, h2, h3, h4, p, dd, .heading-l, .fluid-type) {
      font-size: clamp(var(--f-size) - var(--f-size) * var(--f-size-diff, 0.3), var(--f-size-fluid, 5cqi), var(--f-size));
  }
}
date-picker > .calendar-grid {
  font-weight: bold;
  display: var(--calendar-display, none);
  grid-template-columns: repeat(7, auto);
  position: absolute;
  inset-block-start: var(--bottom, calc(100% + .5rem));
  background-color: var(--system-color-blank);
  border-radius: .5rem;
  padding: .35em .75em 1em;
  gap: .25em;
}
.step-indicator {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  font-size: 0.8em;
}
body {
  font-family: Spartan;
  line-height: 1.5;
  font-size: 1rem;
  font-weight: 500;
  font-variant-ligatures: common-ligatures;
  font-variant-numeric: slashed-zero;
  color: var(--system-color-text);
  background-color: var(--system-color-fillPrimary);
  accent-color: var(--system-color-softBlue);
  caret-color: var(--system-color-softBlue);
  overflow: hidden;
}
section {
  --color-fill: var(--system-color-fillPrimary);
  --min-padding: 1.5em clamp(0.5em, 4cqi, 1.5em) 0.5em;
  block-size: calc(100lvb - min(7rem, 72px));
}
button {
  font-weight: 900;
  text-transform: capitalize;
  font-size: clamp(0.75em, 4cqi, 1em);
}
.heading-l {
  --f-size: var(--system-heading-large);
  font-weight: bold;
  font-size: var(--system-heading-large);
  line-height: 1.1;
  letter-spacing: -1px;
}
.heading-m {
  font-weight: bold;
  font-size: var(--system-heading-medium);
  line-height: 1.1;
  letter-spacing: -0.75px;
}
.heading-s {
  font-weight: bold;
  font-size: var(--system-heading-small);
  line-height: 1;
  letter-spacing: -0.25px;
}
.self-center {
  place-self: center;
}
.y-scrollable {
  overflow-y: auto;
}
.no-gap {
  --space: 0;
}
.no-padding {
  --min-padding: 0;
}
.subtitle-text {
  color: var(--color-labelText, #888eaf);
}
[class*="btn"] {
  --radius: 1.5rem;
  --space: 0.25em;
}
[class*="btn"]:is(:focus,
:hover) {
  background-color: var(--color-fill-hover, transparent);
  min-inline-size: 4.5rem;
  min-block-size: 3rem;
}
.btn.back {
  align-self: start;
  background-color: transparent;
  color: var(--system-color-text);
}
:is(.btn-primary,
.btn-danger) {
  --color-text: #fafafa;
  --color-text-hover: var(--system-color-lightGrayishBlue);
}
.btn-primary {
  --color-fill: var(--system-color-softBlue);
  --color-fill-hover: var(--system-color-lightBlue);
}
.btn-danger {
  --color-fill: var(--system-color-softRed);
  --color-fill-hover: var(--system-color-lightRed);
}
.btn-edit {
  --color-text: var(--color-editText, var(--system-color-labelText));
  --color-fill: var(--system-color-labelFill);
  --color-fill-hover: var(--system-color-labelHover);
}
.btn-draft {
  --color-text: var(--color-labelText, var(--system-color-captionText));
  --color-fill: #373b53;
  --color-fill-hover: var(--fill-items-box, #0d0f17);
}
.extend-click {
  position: relative;
}
.extend-click::before {
  content: "";
  inset: 0;
  position: absolute;
}
.relative {
  position: relative;
}
.label-text,
label {
  color: var(--label-color, var(--system-color-labelText));
  font-weight: var(--label-weight, inherit);
}
.content-bold {
  color: var(--system-color-text);
  font-weight: bold;
}
[data-icon]:is(:focus,
:hover):not(:disabled) {
  --deco-fill: var(--icon-fill-hover, currentColor);
  --icon-transform: var(--hover-transform, inherit);
  color: var(--color-text-hover, var(--system-color-lightBlue));
}
[data-icon]:disabled {
  --deco-fill: currentColor;
  opacity: 0.6;
  color: var(--system-color-disabled);
}
[data-icon]::before,
[data-icon]::after {
  content: "";
  display: inline-block;
  flex-shrink: 0;
}
[data-icon="arrow_right"] {
  --icon-transform: rotate(180deg);
  --row-dir: row-reverse;
  --hover-transform: rotate(180deg) translateX(0.5em);
}
[data-icon="arrow_left"] {
  --hover-transform: translateX(0.5em);
}
:is([data-icon="arrow_left"],
[data-icon="arrow_right"])::before {
  inline-size: 1.5rem;
  aspect-ratio: 1;
  background-color: var(--deco-fill, var(--icon-fill, var(--system-color-softBlue)));
  clip-path: url(#arrow_left);
  transform: var(--icon-transform, none);
}
[data-icon="arrow_down"] {
  --min-padding: 0.75em 1.5em 0.75em 0;
  --space: 0.1em;
  cursor: pointer;
}
[data-icon="arrow_down"]::after {
  inline-size: 1em;
  aspect-ratio: 0.6;
  background-color: var(--deco-fill, var(--system-color-softBlue));
  clip-path: url(#arrow_down);
  transform: var(--transformation, none);
}
[open] [data-icon="arrow_down"] {
  --transformation: rotateZ(180deg);
}
[data-icon="add-circle"] {
  --min-padding: 0.75em clamp(0.5em, 2vw, 1.5em) 0.75em 0.5em;
}
[data-icon="add-circle"]::before {
  inline-size: 2em;
  aspect-ratio: 1;
  background-color: var(--deco-fill, currentColor);
  clip-path: url("#add-circle");
}
[data-icon="warning"]::before {
  inline-size: 1.5em;
  aspect-ratio: 1;
  background-color: var(--deco-fill, currentColor);
  clip-path: url("#warning");
}
[data-status="pending"] {
  --status-fill: var(--system-color-pureOrange);
  --status-text: var(--system-color-darkPurple);
}
[data-status="paid"] {
  --status-text: var(--system-color-darkPurple);
  --status-fill: var(--system-color-limeGreen);
}
[data-status="draft"] {
  --status-text: var(--system-color-info);
  --status-fill: var(--system-color-infoFill);
}
[data-prefix]::before {
  content: var(--prefix, attr(data-prefix));
  color: var(--prefix-color, var(--system-color-captionText));
}
[data-suffix]::after {
  content: var(--suffix, attr(data-suffix));
  color: var(--suffix-color, currentColor);
}
.stack > * + * {
  margin-block-start: var(--space, 1.5em);
}
:is(.row,
.column,
.segragator) {
  display: flex;
  align-items: var(--alignment, center);
  gap: var(--space, 1.5em);
}
.grow-2 {
  flex-grow: 2;
}
.no-shrink {
  flex-shrink: 0;
}
.segragator {
  flex-flow: var(--direction, row) var(--wrap, nowrap);
  justify-content: space-between;
}
.row {
  --alignment: var(--row-align, center);
  flex-flow: var(--row-dir, row) var(--wrap, nowrap);
}
.column {
  --alignment: var(--col-align, stretch);
  flex-flow: var(--col-dir, column) var(--wrap, nowrap);
}
.center {
  display: grid;
  place-items: center;
  place-content: center;
}
:is(.blank-box,
.box) {
  padding: var(--min-padding, 1.5em);
  background-color: var(--color-fill, transparent);
  color: var(--color-text, currentColor);
  border-radius: var(--radius, 0);
}
#logo {
  width: 72px;
  aspect-ratio: 1;
  border-radius: 0 1.25em 1.25em 0;
  position: relative;
  background-color: var(--system-color-softBlue);
}
#logo::after {
  content: "";
  position: absolute;
  inline-size: 40%;
  aspect-ratio: 1;
  background-color: var(--deco-fill, transparent);
  inset: 0;
  margin: auto;
  background-image: conic-gradient(from -30deg at center, transparent 60deg, #fff 60deg);
  border-radius: 50%;
}
#logo::before {
  content: "";
  inline-size: 100%;
  aspect-ratio: 2;
  background-color: var(--deco-fill, var(--system-color-lightBlue));
  position: absolute;
  inset-block-end: 0;
  border-radius: 1.25em 0 1.25em 0;
}
#status-form {
  --min-padding: clamp(0.5em, 4vi, 1.5em);
  font-weight: bold;
  border-radius: 0.5em;
  box-shadow: 0 4px 8px 0 var(--system-color-shadow);
  background-color: var(--system-color-blank);
  position: absolute;
  inset-block-start: 110%;
  inset-inline: -20%;
  min-inline-size: min(12rem, 50vi);
  z-index: 1;
  opacity: 0;
}
[open] #status-form {
  opacity: 1;
}
.inv-option {
  --space: 1em;
  --label-color: var(--system-color-text);
  cursor: pointer;
}
.inv-option:focus,
.inv-option:hover {
  --checkbox-border: 2px solid var(--system-color-softBlue);
}
.status-option {
  --icon-fill: none;
  display: inline-block;
  position: relative;
  isolation: isolate;
  inline-size: 1.5rem;
  aspect-ratio: 1;
}
.status-option > * {
  position: absolute;
  inline-size: 100%;
  aspect-ratio: 1;
}
.status-option > svg {
  background-color: var(--fill, var(--system-color-checkboxFill));
  border-radius: 0.25rem;
  z-index: -1;
  stroke: #fff;
  stroke-dashoffset: 1;
  stroke-dasharray: 1;
  padding: 0.15em;
  border: var(--checkbox-border, none);
}
.status-option > input:checked + svg {
  --fill: var(--system-color-softBlue);
  stroke-dashoffset: 0;
}
.status-option > input[type="checkbox"] {
  margin: 0;
  opacity: 0;
}
.theme-switch:is(:focus,
:hover) {
  --icon-fill: var(--system-color-lightPurple);
}
.theme-switch {
  border-inline-end: 1px solid var(--system-color-grayishBlue);
}
.theme-switch::before {
  content: "";
  display: inline-block;
  inline-size: 32px;
  aspect-ratio: 1;
  background-color: var(--icon-fill, currentColor);
  clip-path: var(--system-theme-clip);
}
.banner {
  --alignment: stretch;
  --icon-fill: var(--system-color-softPurple);
  --min-padding: 0 1.5em;
  --row-align: stretch;
  background-color: var(--system-color-darkPurple);
  position: relative;
  z-index: 2;
}
.invoices {
  --item-alignment: center;
  overflow: hidden auto;
}
.invoices:empty {
  display: none;
}
.empty {
  --min-padding: 2em 1.5em 0;
  display: none;
  auto: 1fr;
}
.empty > p {
  max-inline-size: 25ch;
  white-space: pre-wrap;
}
.invoices:empty + .empty {
  display: grid;
  place-content: center;
  place-items: center;
}
.invoice__summary {
  --status-padding: var(--box-padding, 0.75rem clamp(0.5rem, 5cqi, 1.5rem));
  --f-size: 1em;
  --f-size-diff: 0.2;
  --f-size-fluid: 4cqi;
  --space: 1rem;
  --label-weight: 500;
  font-weight: bold;
  padding: clamp(0.5em, 5cqi, 1.5em);
  box-shadow: 0 2px 8px 0 var(--system-color-shadow);
}
.invoice__details {
  --min-padding: clamp(0.5em, 2vb, 1em) clamp(0.5em, 4cqi, 1.5em);
  --invoice-grid: "ref ." "date total" "name total" "status status"/1fr 1fr;
  --space: clamp(0.5em, 2vb, 1.5em);
  padding: 0.5em clamp(0.5em, 4vmin, 1.5em) 3.5em;
}
.invoice__details::after {
  content: "";
  display: var(--deco-display, block);
  block-size: clamp(5em, 10vmin, 8em);
}
.invoice__table {
  --prefix-color: currentColor;
  text-transform: capitalize;
}
.invoice__item {
  --invoice-grid: "ref ref total" "date name total"/auto 1fr;
  --space: 1em;
  gap: 1ch;
}
.invoice__desc {
  --row-align: start;
  --row-dir: column;
  gap: 1em;
}
.blank-box {
  --radius: 0.5rem;
  --color-fill: var(--system-color-blank);
}
.items-box {
  --radius: 0.5rem 0.5rem 0 0;
  --color-fill: var(--fill-items-box, #fbfbfe);
}
.amount-box {
  --f-size: 1.5em;
  --radius: 0 0 0.5rem 0.5rem;
  --color-fill: var(--fill-amount-box, #252946);
  --system-color-text: #fff;
  --alignment: center;
  color: #fff;
  container: amount/inline-size;
}
.status-box {
  --radius: 0.5rem;
  --min-padding: var(--status-padding);
  --color-text: var(--status-text, inherit);
  --color-fill: var(--status-fill, inherit);
  display: inline-flex;
  align-items: center;
  gap: 0.25em;
  text-transform: capitalize;
  font-weight: bold;
}
.status-box::before {
  content: "";
  display: inline-block;
  inline-size: 0.5em;
  aspect-ratio: 1;
  background-color: var(--deco-fill, currentColor);
  border-radius: 50%;
}
.invoice__status {
  --status-padding: 0.75rem clamp(0.5em, 2cqi, 1.5em);
  --space: 0.5em;
  color: var(--system-color-captionText);
  text-transform: capitalize;
}
.invoice__status > :first-child {
  justify-content: var(--inline-alignment, space-between);
}
.invoice__actions {
  position: fixed;
  inset-block-end: 0;
  inset-inline: 0;
  container: action/inline-size;
  z-index: 2;
  display: flex;
  justify-content: center;
  gap: clamp(0.5em, 4vmin, 1em);
}
step-by-step {
  position: relative;
  display: block;
}
step-by-step > * {
  transform: translateX(calc((var(--i) - var(--current)) * 100%));
}
step-by-step > .step-out {
  position: fixed;
  z-index: -1;
  visibility: hidden;
  opacity: 0;
}
[data-drawer="show"] {
  --x-offset: 0px;
}
.drawer {
  --translateY: var(--y-offset, 72px);
  --y-overflow: hidden;
  position: fixed;
  transform: translate(var(--x-offset, -100%), var(--translateY));
  block-size: calc(100% - var(--translateY));
  inset-block-start: 0;
  inset-inline-start: 0;
  isolation: isolate;
  text-transform: capitalize;
  inline-size: 100%;
  z-index: 1;
}
.drawer h2 {
  --prefix-color: currentColor;
  --prefix: var(--heading-text, unset);
}
.drawer[data-edit] {
  --drafter-display: none;
  --ref-display: inline;
  --cancel-text: "cancel";
  --proceed-text: "save changes";
}
.drawer > form {
  max-block-size: 70%;
  overflow: hidden auto;
}
.drawer > div {
  --prefix-color: currentColor;
  --min-padding: 0.75em clamp(0.5em, 3cqi, 1.5em);
  display: flex;
  gap: 0.5em;
  justify-content: end;
  container: actions/inline-size;
  background-color: var(--system-color-fillPrimary);
}
.drawer .btn-draft {
  margin-inline-start: auto;
  display: var(--drafter-display, initial);
}
.drawer .cancel {
  --prefix: var(--cancel-text, unset);
}
.drawer .proceed {
  --prefix: var(--proceed-text, unset);
}
.invoice__ref {
  --prefix-color: initial;
  --prefix: initial;
  text-transform: uppercase;
  display: var(--ref-display, none);
}
.input-step {
  --space: 1.25rem;
  container: input-step/inline-size;
  padding: 0.5rem;
}
.input-step > legend {
  font-size: clamp(1.2em, 4cqi, 1.5em);
  color: var(--system-color-softBlue);
}
.input-step > * {
  display: flex;
  flex-flow: column-reverse nowrap;
}
:is(input,
select) {
  min-inline-size: 100%;
  font-weight: bold;
  color: var(--system-color-text);
  padding: var(--input-padding, 0.75em 1.25em);
  background-color: var(--system-color-blank);
  border: 1px solid var(--input-bd-clr, var(--system-color-lightPurple));
  border-radius: 0.25em;
}
:is(input,
select):is(:hover,
:focus) {
  --input-bd-clr: var(--system-color-softBlue);
}
:is(input,
select):invalid {
  --input-bd-clr: var(--system-color-softRed);
}
:is(input,
select):invalid ~ label {
  color: var(--system-color-softRed);
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
:is(input,
select):invalid ~ label::after {
  content: attr(data-error, "");
  font-size: 0.7em;
  text-transform: none;
}
date-picker {
  position: relative;
  isolation: isolate;
}
date-picker[data-show] {
  --calendar-display: grid;
}
date-picker [disabled] {
  opacity: 0.6;
}
date-picker .control::before {
  content: "";
  inline-size: 1.5rem;
  aspect-ratio: 1;
  background-color: var(--deco-fill, var(--system-color-softBlue));
  clip-path: url(#arrow_left);
  display: inline-block;
}
date-picker [data-action*="next"]::before {
  transform: rotateZ(180deg);
}
date-picker .today {
  --label-color: var(--system-color-softRed);
}
date-picker .selected {
  --label-color: var(--system-color-lightBlue);
}
date-picker button {
  font-weight: inherit;
  background-color: transparent;
  color: var(--label-color, var(--color-labelText, #0d0f17));
}
date-picker .actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-column: -1/1;
}
.step-indicator {
  --deco-size: 1.7em;
  --bdr-width: 2px;
  --deco-color: var(--system-color-labelText);
}
.step-indicator p {
  display: var(--content-display, none);
}
.step-indicator > .step-active {
  --deco-color: var(--system-color-darkPurple);
  --deco-bg: var(--deco-color);
  --deco-colorText: #fafafa;
}
.step-indicator > * {
  padding-block: var(--b-padding, 0 2em);
  counter-increment: indicator;
  position: relative;
  text-align: center;
}
.step-indicator > *:first-child {
  --deco-img: linear-gradient(var(--gradient-dir, to right), transparent calc(var(--deco-size) + 2px), var(--deco-color) 0);
  --deco-margin: 0 auto;
  text-align: start;
}
.step-indicator > *:last-child {
  --deco-img: linear-gradient(var(--gradient-dir, to right), var(--deco-color) calc(100% - var(--deco-size) - 4px), transparent 0);
  --deco-margin: auto 0;
  text-align: end;
}
.step-indicator > *:not(:last-child,
.step-indicator > * :first-child) {
  padding-inline: var(--i-padding, 0.5em);
}
.step-indicator > *::after {
  content: counters(indicator, ".");
  color: var(--deco-colorText, currentColor);
  position: absolute;
  display: inline-grid;
  place-content: center;
  border: var(--bdr-width) solid var(--deco-color);
  border-radius: 50%;
  inline-size: var(--deco-size);
  aspect-ratio: 1;
  inset: var(--inset-after, auto 0 0);
  margin-inline: var(--deco-margin, auto);
  background-color: var(--deco-bg, transparent);
}
.step-indicator > *::before {
  content: "";
  position: absolute;
  display: inline-block;
  block-size: 2px;
  inset: var(--inset-before, auto 0 calc(0.85em - 1px));
  background-image: var(--deco-img, linear-gradient(var(--gradient-dir, to right), var(--deco-color) calc(50% - 0.85em - 2px), transparent 0 calc(50% + 0.85em + 2px), var(--deco-color) 0));
}
noscript[data-status] {
  --min-padding: 1em;
  --radius: 0.5em;
  --color-text: var(--status-text, currentColor);
  --color-text-hover: var(--system-color-darkPurple);
  --space: 0.5em;
  margin-block-start: 0.5em;
  margin-inline: 0.5em;
  background-color: var(--system-color-lightRed);
}
dialog:not([open]) {
  display: none;
  transform: scale(0);
}
dialog {
  --min-padding: clamp(0.5em, 4cqi, 1.5em);
  --f-size: var(--system-heading-medium);
  color: var(--color-text, var(--system-color-darkBlue));
  container: dialog/inline-size;
  inline-size: min(480px, 80vi);
  transform: scale(1);
  border: none;
  z-index: 4;
}
dialog::backdrop {
  background-color: var(--system-color-backdropFill);
}
dialog > h3 {
  text-transform: capitalize;
  color: var(--system-color-text);
}
dialog > .row {
  justify-content: end;
}
@media screen and (min-width: 480px) {
  :root {
    --invoice-grid: "ref date name total status arrow"/8ch 1fr 1fr minmax(auto, 0.75fr) auto 1.5em;
  }
  .sm-hide {
    display: initial;
  }
  .invoice-grid.sm-hide {
    display: grid;
  }
  .invoice__desc {
    --invoice-grid: "ref ref ref" "date total status" "name total ."/1fr 1fr 1fr;
  }
  .invoice__desc > :first-child {
    --row-dir: row;
    justify-content: space-between;
  }
  .invoice__item {
    --invoice-grid: "ref date name total"/1.5fr 0.5fr 1fr 1fr;
    --suffix: "";
    text-align: end;
  }
  .invoice__item > :first-child {
    text-align: start;
  }
  .invoice__summary {
    --min-padding: 1em clamp(0.5em, 2cqi, 1.5em);
    --box-padding: 0.625em clamp(0.5em, 2cqi, 1em);
    --f-size-fluid: 2.5cqi;
    --f-size-diff: 0.2;
    gap: 0.5em;
  }
  .invoice__summary::after {
    content: "";
    inline-size: 1.5em;
    aspect-ratio: 1;
    background-color: var(--deco-fill, var(--system-color-softBlue));
    clip-path: url("#arrow_left");
    transform: rotateZ(180deg);
    grid-area: arrow;
  }
  .invoice__status {
    --inline-alignment: start;
    display: flex;
    justify-content: space-between;
    gap: 0.5em;
  }
  .invoice__actions {
    padding: 0;
    z-index: 0;
    position: initial;
    justify-content: end;
    flex-grow: 2;
  }
  .invoice__details {
    --deco-display: none;
  }
  .drawer {
    inline-size: clamp(480px, 69vi, 616px);
    border-radius: 0 1.25em 1.25em 0;
    visibility: hidden;
  }
  [data-drawer="show"] .drawer {
    visibility: visible;
  }
  [data-drawer="show"] main::after {
    content: "";
    position: fixed;
    inset: 0;
    background-color: var(--system-color-backdropFill);
  }
  .step-indicator {
    --content-display: block;
  }
}
@media screen and (min-width: 768px) {
  .banner {
    --direction: column;
    --min-padding: 1.5em 0;
    --row-dir: column;
    grid-area: nav;
    border-radius: 0 1.25em 1.25em 0;
  }
  .banner .theme-switch {
    border-inline: none;
    border-block-end: 1px solid var(--system-color-grayishBlue);
  }
  body {
    --y-offset: 0px;
    display: grid;
    grid-template: "nav . . ." 72px "nav . main ." calc(100lvb - 72px)/72px 1fr minmax(clamp(618px, 60vi, 719px), 2.5fr) 1fr;
  }
  body > main {
    grid-area: main;
  }
  .drawer {
    --min-padding: 1.5em 1.5em 1.5em calc(72px + 1.5em);
  }
}
@media (prefers-color-scheme: dark) {
  :root:not([data-apearence="light"]) {
    --color-text: var(--system-color-lightGrayishBlue);
    --color-blank: var(--system-color-darkPurple);
    --color-labelText: var(--system-color-lightPurple);
    --color-labelFill: var(--system-color-grayishBlue);
    --color-labelHover: #fff;
    --color-shadow: rgba(224,228,250,0.1);
    --page-bg: #141624;
    --color-checkboxFill: var(--page-bg);
    --color-editText: var(--system-color-softPurple);
    --input-bd-clr: #252946;
    --color-info: var(--system-color-grayishBlue);
    --color-infoFill: var(--system-color-lightPurple);
    --fill-items-box: #252946;
    --fill-amount-box: #0d0f17;
    --color-disabled: rgba(251,251,254,0.6);
    --theme-clip: url("#light_mode");
  }
}

@media(prefers-reduced-motion: no-preference) {
	:is(body, .box), .step-indicator li::before, .step-indicator li::after {
	    transition: color .35s ease-in, background-color, .35s ease-out;
	}
	:is(.drawer, input, select, [class*="btn"]), .theme-switch::before, [data-icon]::before, [data-icon]::after {
	    transition: all .35s ease-out;
	}
	step-by-step > * {
      transition: transform .35s ease-out;
	}
}
