.stack > * + *
    margin-block-start: var(--s-space, 1.5em)

@css{
:is(.row, .column, .segragator) {
    display: flex;
    align-items: var(--alignment, center);
    gap: var(--r-space, var(--c-space, 1.5em));
    justify-content: var(--i-alignment, start);
}
}
.grow-2
    flex-grow: 2
.no-shrink
    flex-shrink: 0

.segragator
    --i-alignment: space-between
    flex-flow: var(--direction, row) var(--wrap, nowrap)
.row
    --alignment: var(--row-align, center)
    flex-flow: var(--row-dir, row) var(--wrap, nowrap)
.column
    --alignment: var(--col-align, stretch)
    flex-flow: var(--col-dir, column) var(--wrap, nowrap)
.center
    display: grid
    place-items: center
    place-content: center

@css{
:is(.blank-box, .box) {
    padding: var(--min-padding, 1.5em);
    background-color: var(--color-fill, transparent);
    color: var(--color-text, currentColor);
    border-radius: var(--radius, 0);
}
}
