
.stack > * + *
    margin-block-start: var(--space, 1.5em)

.segragator
    display: flex
    flex-direction: var(--direction, row)
    align-items: var(--alignment, center)
    justify-content: space-between


