heading(weight, size, height, spacing)
    font-weight: weight
    font-size: size
    line-height: height
    letter-spacing: spacing
decoElt(size, ratio, fill)
    inline-size: size
    aspect-ratio: ratio
    background-color: var(--deco-fill, fill)
inlineFlex(gap=.5em)
    display: inline-flex
    gap: var(--items-space, gap)
    align-items: center

darkShade()
    --color-text: var(--system-color-lightGrayishBlue)
    --color-blank: var(--system-color-darkPurple)
    --color-labelText: var(--system-color-lightPurple)
    --color-labelFill: var(--system-color-grayishBlue)
    --color-labelHover: white
    --color-shadow: rgba(0, 0, 0, 0.1)
    --page-bg: hsl(233 30 11)
    --color-checkboxFill: var(--page-bg)
    --color-info: hsl(231, 11, 98)
    --color-infoFill: hsla(231, 5, 98, 0.15)
    --color-warningFill: hsla(34, 5, 95, 0.15)
    --color-successFill: hsla(159, 5, 95, 0.15)
    --color-editText: var(--system-color-softPurple)

    --fill-items-box: hsl(233, 30, 21)
    --fill-amount-box: hsl(228, 29, 7)


:root
    --system-color-softBlue: hsl(252 94 67)
    --system-color-lightBlue: hsl(252 100 73)
    --system-color-softRed: hsl(0 80 63)
    --system-color-lightRed: hsl(0 100 80)
    --system-color-limeGreen: hsl(160 67 52)
    --system-color-pureOrange: hsl(34 100 50)
    --system-color-grayishBlue: hsl(231 20 27)
    --system-color-lightGrayishBlue: hsl(231 67 99)
    --system-color-darkBlue: hsl(231 28 7)
    --system-color-lightPurple: hsl(231 73 93)
    --system-color-softPurple: hsl(231 37 63)
    --system-color-darkPurple: hsl(233 31 17)

    --system-color-fillPrimary: var(--page-bg, hsl(240 27 98))
    --system-color-blank: var(--color-blank, #fff)
    --system-color-labelText: var(--color-labelText, var(--system-color-softPurple))
    --system-color-captionText: var(--color-captionText, hsl(231 20 61))
    --system-color-labelFill: var(--color-labelFill, var(--system-color-lightGrayishBlue))
    --system-color-labelHover: var(--color-labelHover, var(--system-color-lightPurple))
    --system-color-text: var(--color-text, var(--system-color-darkBlue))
    --system-color-shadow: var(--color-shadow, hsl(231 38 90))
    --system-color-checkboxFill: var(--color-checkboxFill, var(--system-color-lightPurple))
    --system-color-warningFill: var(--color-warningFill, hsl(34, 90, 95))
    --system-color-successFill: var(--color-successFill, hsl(159, 90, 98))
    --system-color-info: var(--color-info, hsl(231, 34, 33))
    --system-color-infoFill: var(--color-infoFill, hsl(231, 15, 93))

    --system-heading-large: 2.25rem
    --system-heading-medium: 1.5rem
    --system-heading-small: 0.9375rem
    --system-text-body: 0.8125rem

    --invoice-grid: "ref . name" ".  .   ." 1rem "date . status" "total . status" / 1fr .5fr 1fr;


@font-face
    font-family: "Spartan"
    src: url("../LeagueSpartan-VariableFont_wght.ttf") format("truetype")
    font-variant-ligatures: common-ligatures discretionary-ligatures historical-ligatures
    font-feature-settings: "zero"

[data-apearence="dark"]
    darkShade()

body
    font-family: Spartan
    line-height: 1.5
    font-size: 1rem
    font-weight: 500
    color: var(--system-color-text)
    background-color: var(--system-color-fillPrimary)
    accent-color: var(--system-color-softBlue)
    caret-color: var(--system-color-softBlue)
section
    --color-fill: var(--system-color-fillPrimary)
    --min-padding 1.5em clamp(.5em, 4cqi, 1.5em) .5em
    overflow: hidden auto
    block-size: calc(100lvb - max(7rem, 72px))
.heading-l
    --f-size: var(--system-heading-large)
    heading(bold, var(--system-heading-large), 1.1, -1px)
.heading-m
    heading(bold, var(--system-heading-medium), 1.1, -0.75px)
.heading-s
    heading(bold, var(--system-heading-small), 1, -0.25px)

.self-center
    place-self: center
.sm-hide.sm-hide
    display: none
.sticky-top
    --min-padding: var(--sticky-padding, inherit)
    position: sticky
    inset-block-start: 0
    z-index: 2
    background-color: var(--sticky-fill, var(--color-fill))
.no-gap
    --space: 0
.subtitle-text
    color: var(--color-labelText, hsl(231, 20, 61))
.btn,
.btn-primary,
.btn-edit,
.btn-danger
    --radius: 1.5rem
    font-weight: 900
    text-transform: capitalize
    font-size: clamp(.75em, 4cqi, 1em)
    min-inline-size: 4.5rem
    &:focus,
    &:hover
        background-color: var(--color-fill-hover, transparent)
.btn.back
    background-color: transparent
    color: var(--system-color-text)
.btn-primary, .btn-danger
    --color-text: white
.btn-primary
    --color-fill: var(--system-color-softBlue)
    --color-fill-hover: var(--system-color-lightBlue)
.btn-danger
    --color-fill: var(--system-color-softRed)
    --color-fill-hover: var(--system-color-lightRed)
.btn-edit
    --color-text: var(--color-editText, var(--system-color-labelText))
    --color-fill: var(--system-color-labelFill)
    --color-fill-hover: var(--system-color-labelHover)
.extend-click
    position: relative
    &::before
        content: ""
        inset: 0
        position: absolute
.relative
    position: relative
.label-text, label
    color: var(--system-color-labelText)
    font-weight: var(--label-weight, inherit)
.content-bold
    color: var(--system-color-text)
    font-weight: bold
.inline-row
    inlineFlex()

.btn[data-icon]
    inlineFlex()
[data-icon="arrow_left"]
    &::before
        content: ""
        decoElt(1.5rem, 1, var(--system-color-softBlue))
        clip-path: url(#arrow_left)
[data-icon="arrow_down"]
    --min-padding: .75em 1.5em .75em 0
    --space: 0.1em
    cursor: pointer
    &::after
        content: ""
        decoElt(1em, 0.6, var(--system-color-softBlue))
        clip-path: url(#arrow_down)
        transform: var(--transformation, none)
    [open] &
        --transformation: rotateZ(180deg)

[data-icon="add-circle"]
    --min-padding: .75em clamp(.5em, 2vw, 1.5em) .75em .5em
    &::before
        content: ""
        decoElt(2em, 1, currentColor)
        clip-path: url(#add-circle)

[data-state="pending"]
    --color-text: var(--system-color-pureOrange)
    --color-fill: var(--system-color-warningFill)
[data-state="paid"]
    --color-text: var(--system-color-limeGreen)
    --color-fill: var(--system-color-successFill)
[data-state="draft"]
    --color-text: var(--system-color-info)
    --color-fill: var(--system-color-infoFill)

[data-prefix]::before
    content: var(--prefix, attr(data-prefix))
    color: var(--prefix-color, var(--system-color-captionText))
[data-suffix]::after
    content: var(--suffix, attr(data-suffix))
    color: var(--suffix-color, currentColor)
@require "./layouts.styl"

#logo
    width: 72px
    aspect-ratio: 1
    border-radius: 0 1.5em 1.5em 0
    position: relative
    background-color: var(--system-color-softBlue)
    &::after
        content: ""
        position: absolute
        decoElt(40%, 1, transparent)
        inset: 0
        margin: auto
        background-image: conic-gradient(from -30deg at center, transparent 60deg, white 60deg)
        border-radius: 50%
    &::before
        content: ""
        decoElt(100%, 2, var(--system-color-lightBlue))
        position: absolute
        inset-block-end: 0
        border-radius: 1.5em 0 1.5em 0

#status-form
    font-weight: bold
    border-radius: .5em
    box-shadow: 0 10 20px 0 var(--system-color-shadow)
    background-color: var(--system-color-blank)
    position: absolute
    inset-block-start: 110%
    inset-inline-start: -50%
    min-inline-size: 12rem
    opacity: 0
    [open] &
        opacity: 1

.inv-option
    --space: 1em
    cursor: pointer
    &:focus,
    &:hover
        --checkbox-border: 2px solid var(--system-color-softBlue)

.status-option
    --icon-fill: none;
    display: inline-block
    position: relative
    isolation: isolate
    inline-size: 1.5rem
    aspect-ratio: 1
    & > *
        position: absolute
        inline-size: 100%
        aspect-ratio: 1
    & > svg
        background-color: var(--fill, var(--system-color-checkboxFill))
        border-radius: 0.25rem
        z-index: -1
        stroke: white
        stroke-dashoffset: 1
        stroke-dasharray: 1
        padding: .15em
        border: var(--checkbox-border, none)
    & > input:checked + svg
        --fill: var(--system-color-softBlue)
        stroke-dashoffset: 0
    & > input[type="checkbox"]
        margin: 0
        opacity: 0

.theme-switch
    border-inline-end: 1px solid var(--system-color-grayishBlue)
    &:hover,
    &:focus
        --icon-fill: var(--system-color-lightPurple)
.banner
    --alignment: stretch
    --icon-fill: var(--system-color-softPurple)
    --min-padding: 0 1.5em
    background-color: var(--system-color-darkPurple)

.invoices:empty
    display: none
.empty
    --min-padding: 2em 1.5em 0
    display: none
    auto 1fr
    & > p
        max-inline-size: 25ch
        white-space: pre-wrap
    .invoices:empty + &
        display: grid
        place-content: center
        place-items: center

.invoice__summary
    --min-padding: 1rem 1.5rem
    --status-padding: var(--box-padding, .75rem clamp(.5rem, 5cqi, 1.5rem))
    --f-size: 1rem
    --f-size-diff: 0.2
    --f-size-fluid: 4cqi
    --space: 1rem

.invoice-grid,
.invoice__summary
	display: grid
	grid-template: var(--invoice-grid)
	align-items: var(--item-alignment, var(--alignment, center))
	container: invoice / inline-size
	& > :first-child
	    grid-area: ref
	&> :nth-child(2)
	    grid-area: date
	& > :nth-child(3)
	    grid-area: name
	& > :nth-child(4)
	    grid-area: total
	& > :nth-child(5)
	    grid-area: status

.invoice__details
    --min-padding: 1em clamp(0.5em, 4cqi, 1.5em)
    --sticky-padding: 1em 0
    --invoice-grid: "ref ." "date total" "name total" "status status" / 1fr 1fr
    padding: 0 clamp(0.5em, 4vmin, 1.5em)
    &::after
        content: ""
        display: block
        block-size: max(3.5em, 7vb)

.invoice__table
    --prefix-color: currentColor
    text-transform: capitalize

.invoice__item
    --invoice-grid: "ref ref total" "date name total" / auto 1fr
    --space: 1em
    gap: 1ch

.invoice__desc
    --alignment: start
    --direction: column
    --space: .75em
    gap: 1em
.blank-box
    --radius: .5rem
    --color-fill: var(--system-color-blank)
.items-box
    --radius: .5rem .5rem 0 0
    --color-fill: var(--fill-items-box, hsl(231, 67, 99))
.amount-box
    --radius: 0 0 .5rem .5rem
    --color-fill: var(--fill-amount-box, hsl(233, 30, 21))
    --system-color-text: white
    color: white

.status-box
    --radius: .5rem
    --min-padding: var(--status-padding)
    text-transform: capitalize
    font-weight: bold
    inlineFlex()
    &::before
        content: ""
        display: inline-block
        decoElt(.5rem, 1, currentColor)
        border-radius: 50%

.invoice__status
    --status-padding: .75rem clamp(.5em, 2cqi, 1.5em)
    --space: .5em
    color: var(--system-color-captionText)
    text-transform: capitalize
    & > :first-child
        justify-content: var(--inline-alignment, space-between)

.invoice__actions
	position: fixed
	inset-block-end: 0
	inset-inline: 0
	container: action / inline-size
	z-index: 2
	display: flex
	justify-content: center
	gap: clamp(0.5em, 4vmin, 1em)

@media screen and (min-width: 480px)
    :root
        --invoice-grid: "ref date name total status arrow" / 8ch 1fr 1fr .8fr .75fr 1.5em

    .sm-hide
        display: initial

    .invoice-grid.sm-hide
        display: grid
    .invoice__desc
        --invoice-grid: "ref ref ref" "date total status" "name total ." / 1fr 1fr 1fr
        & > :first-child
            --direction: row
            justify-content: space-between
    .invoice__item
        --invoice-grid: "ref date name total" / 1.5fr .5fr 1fr 1fr
        --suffix: ""
        text-align: end
    .invoice__summary
        --min-padding: 1em clamp(0.5em, 2cqi, 1.5em)
        --box-padding: .625em clamp(0.5em, 2cqi, 1em)
        --f-size-fluid: 2cqi
        --f-size-diff: 0.3
        gap: .5em
        &::after
            content: ""
            decoElt(1.5em, 1, var(--system-color-softBlue))
            clip-path: url(#arrow_left)
            transform: rotateZ(180deg)
            grid-area: arrow
    .invoice__status
        --inline-alignment: start
        display: flex
        justify-content: space-between
        gap: .5em
    .invoice__actions
        padding: 0
        z-index: 0
        position: initial
        justify-content: end
        flex-grow: 2



@media screen and (min-width: 768px)
    .banner
        --direction: column
        --min-padding: 1.5em 0
        grid-area: nav
        .theme-switch
            border-inline: none
            border-block-end: 1px solid var(--system-color-grayishBlue)
    body
        display: grid
        grid-template: "nav . . ." 72px "nav . main ." calc(100lvb - 72px) / 72px 1fr minmax(688px, 4fr) 1fr
        & > main
            grid-area: main

@media(prefers-color-scheme: dark)
    :root
        darkShade()

@css {
@supports(font-size: 1cqi) {
    :is(h1, h2, h3, h4, p, dd, .heading-l, .fluid-type) {
        font-size: clamp(var(--f-size) - var(--f-size) * var(--f-size-diff, 0.3), var(--f-size-fluid, 5cqi), var(--f-size));
    }
}
}
