
.sm-hide {
    display: none;
}

.inv-option > label::before {
  content: "";
  inset: 0;
  position: absolute;
}
.inv-option {
  --r-space: 1em;
  --label-color: var(--system-color-text);
  position: relative;
  cursor: pointer;
}
.inv-option:is(:focus-within, :hover) {
  --checkbox-border: 2px solid var(--system-color-softBlue);
}
.inv-option > :is(span, div) {
  --icon-fill: none;
  display: inline-block;
  position: relative;
  isolation: isolate;
}
.inv-option :is(span, div, input, svg) {
    inline-size: 1.5rem;
    aspect-ratio: 1;
}
.inv-option :is(input[type="checkbox"], svg) {
    position: absolute;
}
.inv-option svg {
  background-color: var(--fill, var(--system-color-checkboxFill));
  border-radius: 0.25rem;
  z-index: -1;
  stroke: #fff;
  stroke-dashoffset: 1;
  stroke-dasharray: 1;
  padding: 0.15em;
  border: var(--checkbox-border, none);
}
.inv-option input[type="checkbox"] {
    margin: 0;
    opacity: 0;
}
input:checked + svg {
  --fill: var(--system-color-softBlue);
  stroke-dashoffset: 0;
}
.summary-grid {
  --status-padding: var(--box-padding, 0.75rem clamp(0.5rem, 5cqi, 1.5rem));
  --f-size: 1em;
  --f-size-diff: 0.2;
  --f-size-fluid: 4cqi;
  --s-space: 1rem;
  --label-weight: 500;
  font-weight: bold;
  text-align: start;
  padding: clamp(0.5em, 5cqi, 1.5em);
  box-shadow: 0 2px 8px 0 var(--system-color-shadow);
}
.summary-grid:is(:focus-visible, :hover) {
    border: 1px solid var(--system-color-softBlue);
}

@media screen and (min-width: 480px) {
    .sm-hide:not(.invoice-grid) {
        display: initial;
    }
    .step-indicator {
    --content-display: block;
  }
  .drawer {
    inline-size: clamp(480px, 69vi, 616px);
    border-radius: 0 1.25em 1.25em 0;
    visibility: hidden;
  }
  .summary-grid {
    --invoice-grid: "ref date name total status arrow"/8ch 1fr 1fr minmax(auto, 0.75fr) auto 1.5em;
    --min-padding: 1em clamp(0.5em, 2cqi, 1.5em);
    --box-padding: 0.625em clamp(0.5em, 2cqi, 1em);
    --f-size-fluid: 2.5cqi;
    --f-size-diff: 0.2;
    gap: 0.5em;
  }
  .summary-grid::after {
    content: "";
    inline-size: 1.5em;
    aspect-ratio: 1;
    background-color: var(--deco-fill, var(--system-color-softBlue));
    clip-path: url("#arrow_left");
    transform: rotateZ(180deg);
    grid-area: arrow;
  }

}

@media screen and (min-width: 768px) {

}

@media (prefers-reduced-motion: no-preference){
    :is(.drawer, .inv-option input:checked + svg) {
	    transition: all .35s cubic-bezier(.25, .1, .3, 1.5);
    }
    .summary-grid {
        transition: color 0.35s ease-in, background-color 0.35s ease-out;
    }

}
